/*
 *
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License.
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version. *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. *
 *
 * <OSCAR TEAM>
 *
 * This software was written for the
 * Department of Family Medicine
 * McMaster University
 * Hamilton
 * Ontario, Canada
 */ /* styles.css -- Style sheet for the UI prototype.

	Colours used:
		#A9A9A9 = darkgray
		#DCDCDC = gainsboro
		#F5F5F5 = whitesmoke
		#000000 = black
		#FF8C00 = darkorange
*/

input {
 box-sizing: border-box; 
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
} 

BODY {
	position: absolute;
	top: 0px !important;
	left: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	margin: 0 10px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	FONT-SIZE: Normal;
	FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
}

TABLE {
	FONT-SIZE: x-small;
	border-collapse: collapse;
}

TH {
	FONT-SIZE: small;
	font-weight: bold;
}

A IMG {
	border: 0px !important;
}

.box {
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 1px;
}

.ControlTextarea {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 100%;
}

.FakeLink {
	text-align: right;
	font-size: 80%;
}

.Head {
	background-color: #BBBBBB;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	font-size: 12pt;
}

.Head INPUT {
	width: 100px;
}

.RowTop {
	font-size: 9px;
	font-variant: small-caps;
	font: bold;
	background-color: #CCCCFF;
}

.ControlPushButton {
	font-size: 80%;
	font-family: inherit;
}

form {
	margin: 0px !important;
	padding: 0px !important;
}

#leftColLoader, #rightColLoader, 
#rightColLoader h3, #leftColLoader h3, #leftColLoader h3 a {
	margin:0px !important;
	padding:0px !important;
	background-color:white !important;
	color: black !important;
	font-size: 12px !important;
	font-weight: unset !important;
	z-index: 10000 !important;	
}

div#leftNavBar {
	float: left !important;
	width: 19% !important;
	height: auto !important;
}

div#rightNavBar {
	float: right !important;
	width: 19% !important;
	height: auto !important;
}

div#content {
	margin: 0px !important;
	padding: 0px !important;
	margin: 0 0.5% !important;
	margin-bottom: 5px !important;
	border-top: white 2px solid !important;
	display: inline-block !important;
	border-bottom: grey 3px solid !important;
	width: 61% !important;
}

div#mainContent div#save {
	margin: 0px 3px 3px 3px !important;
}

div#notCPP {
	padding: 0px !important;
	margin: 0px !important;
	display: inline-block !important;
	background-color: #CCCCFF;
}

div#cppBoxes {
	padding: 0px !important;
	margin: 0px !important;
}

div#divR2,div#divR1 {
	margin: 0 auto !important;
	padding: 0px !important;
	display: inline-block !important;
	width: 100% !important;

}

div#divR1I1 div,div#divR1I2 div,div#divR2I1 div,div#divR2I2 div,
div#divR1I1 div ul,div#divR1I2 div ul,div#divR2I1 div ul,div#divR2I2 div ul,
div#divR1I1 div ul li,div#divR1I2 div ul li,div#divR2I1 div ul li,div#divR2I2 div ul li,
div#divR1I1 div ul li a,div#divR1I2 div ul li a,div#divR2I1 div ul li a,div#divR2I2 div ul li a {
	margin: 0px !important;
	padding: 0px !important;
	overflow: unset !important;
}

div#divR1I1 div ul, div#divR1I2 div ul, div#divR2I1 div ul, div#divR2I2 div ul {
	display:inline-block !important;
	width: 100% !important;
	margin:0px !important;
	overflow-y: scroll !important;
}


div#divR1I1 div ul li,div#divR1I2 div ul li,div#divR2I1 div ul li,div#divR2I2 div ul li {
	padding:0px 5px !important;
	vertical-align: top !important;
}

div.topBox {
	position:relative;
	top:0px;
	vertical-align: top;
	padding: 0px;
	background-color: #FFFFFF;
}

div.topBox h3 a {
	color: white;
	text-decoration: none;
}

div.topBox h3 {
	margin:0px !important;
	padding: 0px !important;
	padding-left: 5px !important;
	background-color: #6699cc;
	font-size: 9px;
	color: white;
	font-weight: bold;
}

div.topBox ul { 
	font-size: 9px;
	list-style: circle inside;
	padding-left: 1px;
	margin-left: 5px;
	margin-top: 0px;
	padding-top: 1px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.topBox li { 
	white-space: wrap;
}

div#divR1I1,div#divR1I2,div#divR2I1,div#divR2I2 {
	margin: 0px !important;
	display: inline-block !important;
	width: 49.2% !important;
}

div#mainContent {
	margin: 0px !important;
	padding: 0px !important;
	margin-bottom: 5px !important;
	margin: 0px 3px !important;
}

div#encMainDiv {
	margin: 0px !important;
	padding: 0px !important;
	background-color: white !important;
	margin: 5px 3px !important;
	border: black thin inset !important;
	overflow-y: auto !important;
}

div#encounterHeader {
	position: relative !important;
	top: 0px !important;
	left: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	border: #CCCCFF thin groove !important;
	background-color: #CCCCFF !important;
	padding: 5px !important;
}

div#encounterHeader span.Header {
	margin: 0px !important;
	padding: 0px !important;
}


div#encounterHeader span.Header span,div#encounterHeader a {
	margin: 0px !important;
	padding: 0px !important;
	display: inline-block !important;
	text-decoration: none !important;
	margin-right: 5px !important;
}

div#encounterHeader span.Header span.label {
	margin: 0px !important;
	padding: 0px !important;
	font-weight: none !important;
	font-size: x-small !important;
}

div#encounterHeader span.HelpAboutLogout {
	float: right !important;
}

div#encounterHeader span.HelpAboutLogout a {
	margin: 0px !important;
	padding: 0px !important;
	font-size: x-small !important;
	display: inline-block !important;
	text-decoration: none !important;
	color: white !important;
	float: right !important;
	padding: 0 3px !important;
}

div#encounterHeader span.HelpAboutLogout a[href*='About.jsp'] {
	border-right: white thin groove !important;
}

div#encounterTools {
	display: inline-block !important;
	margin: 3px 6px !important;
}

div#encounterTools fieldset {
	display: inline-block !important;
	border: grey thin groove;
}


div#topContent {
	font-size: 8pt;
	padding: 0px !important;
	margin: 0px !important;
	background-color: #CCCCFF !important;
}

div#encMainDiv div.note {
	margin: 0px !important;
	padding: 0px !important;
	margin: 3px 5px 3px 5px !important;
	font-size: 80% !important;
	color: #3366CC !important;
}

div#encMainDiv div.note div div [id*="txt"] {
	margin: 0px !important;
	padding: 3px 0px 3px 5px !important;
}

.doctorInfo {
	font-size: x-small;
	text-decoration: bold;
	background-color: #A39FC4;
}

.encounterTable {
	background-color: #EBEAF2;
}

.patientInfo {
	font-size: small;
	text-decoration: bold;
	background-color: #CBC9E0;
}

.ControlTextarea {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 100%;
}

.ControlSelect {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 80%;
	width: 100%;
}

.LeftTable {
	width: 100%;
}

.BodyStyle {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.MainTable {
	border-collapse: collapse;
	border-color: #111111;
	border-width: 0;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	font-size: 80%;
}

.MainTableTopRowLeftColumn {
	background-color: #003399;
	border-right: 2px solid #A9A9A9;
	border-left: 2px solid #A9A9A9;
	border-top: 2px solid #A9A9A9;
	height: 34px;
	max-width: 200px;
	min-width: 200px;
	font-size: 110%;
	font-weight: bold;
	color: #FFFFFF;
}

.MainTableBottomRowLeftColumn {
	border-right: 2px solid #A9A9A9;
	border-left: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	height: 4px;
	max-width: 130px;
}

.MainTableLeftColumn {
	border-right: 2px solid #A9A9A9;
	border-left: 2px solid #A9A9A9;
	max-width: 130px;
}

.MainTableTopRowRightColumn {
	border-right: 2px solid #A9A9A9;
	border-top: 2px solid #A9A9A9;
	background-color: #003399;
	height: 34px;
	min-width: 400px;
}

.MainTableBottomRowRightColumn {
	border-bottom: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	height: 4px;
}

.MainTableRightColumn {
	border-right: 2px solid #A9A9A9;
	height: 34px;
	margin-left: 4px;
}

.TopStatusBar {
	font-weight: bold;
	background-color: #6699cc;
	color: black;
	height: 23px;
	width: 100%;
}

/* FOR DEMOGRAPHIC EDIT DEMOGRAPHIC PAGE */
.demographicDetail {
	background-color: #CCCCFF;
}

div.info,span.info {
	font-weight: bold;
}

div.statusName,div.statusInfo,div.statusAppointment {
	float: left;
	padding-right: 20px;
}

div.statusAppointment {
	font-style: italic;
}

div.demographicSection {
	width: 100%;
	margin-top: 2px;
	border-top: 1px solid #ccccff;
	border-bottom: 1px solid #ccccff;
	border-left: 1px solid #ccccff;
	border-right: 1px solid #ccccff;
	float: left;
}

div.demographicSection h3 {
	background-color: #ccccff;
	font-size: 8pt;
	font-variant: small-caps;
	font: bold;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.demographicSection ul {
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	padding-left: 1px;
	margin-left: 1px;
	margin-top: 0px;
	padding-top: 1px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.leftSection,div.rightSection {
	float: left;
	width: 48%;
	margin-left: 1%;
}


div.demographicSection li {
	padding-right: 15px;
	white-space: nowrap;
}

#viewDemographics2,div.demographicWrapper,.lightPurple {
	background-color: #eeeeff;
	width: 100%;
}

div.demographicDetail {
	width: 100%;
	background-color: #eeeeff;
}

div.label {
	clear: both;
	float: left;
}

#viewMobileMenu,.mobileScrollBtns,.mobileTitle,.mobileTopBar {
	display: none;
}

.darkPurple {
	background-color: #CCCCFF;
}

div.demographicWrapper {
	background-color: #eeeeff;
	margin-top: 5px;
	margin-left: 1px;
	margin-right: 1px;
}


/* popup menu style for encounter reason */
.menu {
	position: absolute;
	visibility: hidden;
	background-color: #6699cc;
	layer-background-color: #6699cc;
	color: white;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	padding: 3px;
	z-index: 10;
	font-size: 9px;
	width: 25em;
}

.menu a {
	text-decoration: none;
	color: white;
}

div.label {
	display: block;
}

/*****************/

.TopStatusBarShort {
	font-weight: bold;
	background-color: #6699cc;
	color: black;
	height: 23px;
	width: 500;
}

.Title {
	font-weight: bold;
	font-size: 110%;
	color: white;
	background-color: #6699cc;
}

.fieldBox {
	font-family: tahoma, helvetica;
	background-color: "#ddddff";
}

.data {
	background-color: #F7F7F7;
	font-size: 80%;
}

.data2 {
	background-color: #F7F7F7;
	color: #3366CC;
	font-size: 9px;
}

.data3 {
	color: #15120B;
	font-size: 11px;
}

.data4 {
	background-color: #F7F7F7;
	color: #3366CC;
	font-size: 12px;
}

.data5 {
	background-color: #FDFEC7;
	color: #3366CC;
	font-size: 9px;
}

div.leftBox {
	width: 100%;
	margin-top: 2px;
	background-color: #FFFFFF;
}

span.footnote {
	background-color: #ccccee;
	border: 1px solid #000;
	width: 4px;
}

div.leftBox h3 a {
	color: white;
	text-decoration: none;
}

div.leftBox h3 {
	margin:0px !important;
	background-color: #6699cc;
	font-size: 9px;
	color: white;
	font-weight: bold;
	padding-left: 5px;
}

div.leftBox ul { 
	padding:0px !important;
	margin: 0px !important;
	font-size: 9px;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
}

div.leftBox li { 
	white-space: nowrap;
	padding: 1px 5px !important;
}

/* popup menu styles for forms */
.menu {
	position: absolute;
	visibility: hidden;
	background-color: #6699cc;
	layer-background-color: #6699cc;
	color: white;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	padding: 3px;
	z-index: 101;
	font-size: 9px;
}

.menuItemright {
	float: right;
	color: white;
	text-decoration: none;
}

.menuItemleft {
	float: left;
	color: white;
	text-decoration: none;
}

.addItem {
	width: 10%;
	float: right;
	text-align: center;
}

.headerTitle {
	clear: left;
	float: left;
	width: 90%;
}
/* formatting for navbar */
.links {
	color: blue;
	text-decoration: none;
	font-size: 9px;
}

.linkhover {
	color: black;
	text-decoration: underline;
}

.editBtn {
	float: right;
	margin-right: 5px;
	font-size: 8px;
}

.caseNote_date {
	float: left;
	font-size: 1.0em;
	width: 25%;
	font-weight: bold;
}

.caseNote_content {
	float: left;
	font-size: 1.0em;
	width: 60%;
}

.sig {
	background-color: #CCCCFF;
	color: #000000;
	width: 100%;
	font-size: 9px;
}

.observation,.observationEdit,.showEditDate {
	float: right;
	margin-right: 3px;
	font-style: italic;
}

.encType {
	clear: right;
	margin-right: 3px;
	float: right;
}

.topLinks {
	color: black;
	text-decoration: none;
	font-size: 9px;
}

.topLinkhover {
	color: blue;
	text-decoration: underline;
}

div.newNote {
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 0.8em;
	margin: 5px 0px 5px 5px;
	float: left;
}

div.newNote pre {
	color: #000000;
	font-family: arial, sans-serif;
	margin: 0px 3px 0px 3px;
	width: 100%;
	clear: left;
}

.txtArea {
	font-family: arial, sans-serif;
	font-size: 1.0em;
	width: 99%;
	rows: 10;
	overflow: hidden;
	border: none;
	margin: 0px 3px;
}

div#autosaveTime {
	text-align: center;
	margin: 0px;
}

div.expandedBox,div.cppBox {
	clear: both;
	overflow: auto;
}

div.expandedBox {
	height: 100%;
}

/* in place editor */
.showEdPosition {
	display: table-cell;
	vertical-align: middle;
}

.showEdFooter {
	text-align: left;
	padding: 0 2px;
}

ul#issueIdList {
	padding: 0;
}

.showEdContent {
	/*border: thin ridge black;*/
	background-color: #CCCCFF;
	font-size: 9px;
	position: absolute;
	display: none;
	z-index: 200;
	right: 100px;
	bottom: 200px;
	text-align: center;
}

#showEditButtons,#showEditLogout {
	float: right;
	margin-right: 10px;
}

#noteEditTxt {
	margin: 10px;
}

div#issueNoteAssign {
	text-align: center;
}

/* template styles*/
#issueListCPP {
	background-color: #FFFFFF;
	height: 200px;
	width: 350px;
	position: absolute;
	z-index: 1;
	overflow: auto;
}

.enTemplate_name_auto_complete {
	width: 350px;
	background: #fff;
	font-size: 9px;
	text-align: left;
}

.enTemplate_name_auto_complete ul {
	border: 1px solid #888;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: square;
	list-style-position: inside;
}

.enTemplate_name_auto_complete ul li {
	margin: 0;
	padding: 3px;
}

.enTemplate_name_auto_complete ul li.selected {
	background-color: #ffb;
	text-decoration: underline;
}

.enTemplate_name_auto_complete ul strong.highlight {
	color: #800;
	margin: 0;
	padding: 0;
}

p.passwd,p.passwdErr {
	margin: 0px 3px;
}

p.passwdErr {
	color: red;
}

#notesLoading {
	position: relative !important;
	background-color: #AAAADD;
	border: 1px solid black;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 2px 2px 4px;
	font-size: 12px;
	padding: 4px;
	text-align: center;
	width: 130px;
	z-index: 4000;
}

#notesLoading img {
	margin-right: 5px;
}

/* IMPORTED FROM INLINE */
li.cpp {
	color: #000000;
	font-family: arial, sans-serif;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*Note format */
div.newNote {
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 0.8em;
	margin: 5px 0px 5px 5px;
	float: left;
	width: 98%;
}

div.newNote pre {
	color: #000000;
	font-family: arial, sans-serif;
	margin: 0px 3px 0px 3px;
	width: 100%;
	clear: left;
}

div.note {
	color: #000000;
	font-family: arial, sans-serif;
	margin: 3px 0px 3px 5px;
	float: left;
	width: 98%;
}

div.note pre {
	color: #000000;
	font-family: arial, sans-serif;
	margin: 0px 3px 0px 3px;
	width: 100%;
	clear: left;
}

.sig {
	background-color: #CCCCFF;
	color: #000000;
	width: 100%;
	font-size: 9px;
}

.txtArea {
	font-family: arial, sans-serif;
	font-size: 1.0em;
	width: 99%;
	rows: 10;
	overflow: hidden;
	border: none;
	font-family: arial, sans-serif;
	margin: 0px 3px 0px 3px;
}

p.passwd {
	margin: 0px 3px 0px 3px;
}

/* span formatting for measurements div found in ajax call */
span.measureCol1 {
	float: left;
	width: 50px;
}

span.measureCol2 {
	float: left;
	width: 55px;
}

span.measureCol3 {
	float: left;
}

.topLinks {
	color: black;
	text-decoration: none;
	font-size: 9px;
}

.topLinkhover {
	color: blue;
	text-decoration: underline;
}

/* formatting for navbar */
.links {
	color: blue;
	text-decoration: none;
	font-size: 9px;
}

.linkhover {
	color: black;
	text-decoration: underline;
}

/* template styles*/
.enTemplate_name_auto_complete {
	width: 350px;
	background: #fff;
	font-size: 9px;
	text-align: left;
}

.enTemplate_name_auto_complete ul {
	border: 1px solid #888;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: square;
	list-style-position: inside;
}

.enTemplate_name_auto_complete ul li {
	margin: 0;
	padding: 3px;
}

.enTemplate_name_auto_complete ul li.selected {
	background-color: #ffb;
	text-decoration: underline;
}

.enTemplate_name_auto_complete ul strong.highlight {
	color: #800;
	margin: 0;
	padding: 0;
}

/* Encounter type select box */ 

div.autocomplete {
	position: absolute;
	width: 400px;
	background-color: white;
	border: 1px solid #ccc;
	margin: 0px;
	padding: 0px;
	font-size: 9px;
	text-align: left;
	max-height: 200px;
	overflow: auto;
}

div.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div.autocomplete ul li.selected {
	background-color: #EAF2FB;
}

div.autocomplete ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	cursor: pointer;
}

.encTypeCombo {
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	width: 200px;
	text-align: left;
	vertical-align: middle;
	background: #FFFFFF
		url('../images/downarrow_inv.gif') no-repeat
		right;
	height: 18px;
	cursor: pointer;
	border: 1px solid #ccc;
	color: #000000;
}

.printOps {
	background-color: #CCCCFF;
	font-size: 9px;
	position: absolute;
	display: none;
	z-index: 1;
	width: 200px;
	right: 100px;
	bottom: 200px;
}

.showEdContainer {
	position: absolute;
	display: none;
	z-index: 100;
	right: 100px;
	bottom: 200px;
	background-color: transparent;
	font-size: 8px;
	text-align: center;
}

.showEdPosition {
	display: table-cell;
	vertical-align: middle;
}

.showEdContent {
	background-color: #CCCCFF;
	font-size: 9px;
	position: absolute;
	display: none;
	z-index: 200;
	right: 100px;
	bottom: 200px;
	text-align: center;
}

#attachDocumentsForm li.selectAllHeading {
	border-bottom: black thin inset
}
#attachDocumentsForm h2, #attachDocumentsForm ul {
	margin: 0px;
	padding:0px;
}