@media all {


    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1 !important;
        padding:0 20px;
    }

    table {
        width:100%;
        vertical-align: top;
        border-collapse: collapse;
    }


    textarea {
        resize: none;
        min-height: 75px;
        padding: 5px;
        overflow: hidden;
        box-sizing: border-box;
    }

    td.red {
        border:red medium solid !important;
    }

    td .red {
        color:red;
        font-weight:bold;
    }

    .header {
        width:100%;
        padding-bottom: 10px;
        border-bottom: black 2px solid;
        margin-bottom: 0px;

    }

    h1{
        font-size:1.5em;
        margin:0px;
    }

    h2 {
        font-size: 1.9em;
        margin:0px;

    }

    #topTable {
        border:none;
    }

    #bpmhId {
        clear:right;
        margin-left:25px;
    }

    .header span {
        float:left;
        clear:left;

    }

    .section {
        width:100%;
        margin-bottom: 10px;

    }
    #patientId td, #drugData #drugtableSubheading td, #drugtable td {
        border:black thin solid;
    }

    .columnTitle {
        border:black thin solid;
        text-align: right !important;
        vertical-align: top !important;
        font-weight:500;
    }

    #drugData #drugtableSubheading td {
        width: 25%;
    }

    #allergies .columnTitle {
        width:20%;
    }

    table#allergies {
        margin-top:5px;
    }

    #drugtable .columnTitle {
        text-align: left !important;
        font-weight: bold;
    }

    .section table {
        border:black thin solid;
        width:100%;
    }

    .section table th {
        background-color:#ccc;
        border:black 1px solid;
    }

    .section table#providerId td {
        border:black thin solid;
    }

    .section#declaration table, .section#controls table {
        background-color:#ccc;
    }

    .section#declaration table input {
        display:block;
        margin-right: 3px;
    }

    .section table td, .section table th, #drugtable .columnTitle {
        text-align: left;
        vertical-align: top;
    }

    .smallText {
        font-size:.7em;
        font-weight: normal;
    }

    #note table {
        border:none;
    }

    #note table td textarea, #drugtable textarea {
        width:100%;
    }

    table td, table th {
        padding:3px 5px;
    }

    .footer {
        border-top:black 2px solid;
        width:100%;
        margin-bottom: 10px;
    }

    /* --> Sorting elements */
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: #000;
        text-decoration: none;
    }
    a.ASCENDING, a.DESCENDING {
        display: block;
        width: 100%;
        position: relative;
    }
    a.ASCENDING:before,
    a.ASCENDING:after,
    a.DESCENDING:before ,
    a.DESCENDING:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0;
    }
    a.ASCENDING:before,
    a.DESCENDING:before {
        border-bottom-color: #666;
        margin-top: -9px;
    }
    a.ASCENDING:after,
    a.DESCENDING:after {
        border-top-color: #666;
        margin-top: 1px;
    }
}

@media print {

    table#topTable tr td h3{
        margin:0 !important;
        padding:0 !important;
    }
    a.ASCENDING::after, a.ASCENDING::before {
        display:none;
    }
    article {
        column-width: 17em;
        column-gap: 3em;
    }

    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        line-height: 1 !important;
        margin: 0;
        color: #000;
        background-color: #fff;
    }

    #editFamilyDr{
        display:none;
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto;
    }

    thead {
        display: table-header-group;
    }
    tfoot {
        display: table-footer-group;
    }

    #note table tr {
        page-break-inside: auto;
        page-break-after: auto;
    }

    .donotprint {
        display: none;
    }

    td.red {
        border:black thin solid !important;
    }

    td .red {
        color:black;
        font-weight: normal;
    }

}