
.section {
    display: table;
    margin: 0px;
    padding: 0px;
    width:100%;
    overflow: visible;
}

body {
    margin: 0;
    color: #000;
    background-color: #fff;
    overflow: visible;
}

.red {
    color:red;
    font-weight:bold;
}

textarea {
    resize: none;
    width: 250px;
    min-height: 75px;
    padding: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.header {
    width:100%;
    float:left;
    padding-bottom: 0px;
    border-bottom: black 2px solid;
    margin-bottom: 10px;
}

h1 {
    float:left;
    font-size:1.5em;
    margin:0px;
}

h2 {
    float: left;
    font-size: 1.9em;
    margin:0px;

}

h3 {
    float: left;
    font-size: 12px;
    margin: 0px;
    padding-bottom: 10px;
}


#topTable {
    border:none !important;
}

#bpmhId {
    float:left;
    clear:right;
    margin-left:25px;
}

.header span {
    float:left;
    clear:left;
}

table {
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    page-break-inside: auto;
    width:100%;
}

table#patientId tr td,
table#patientId tr td table tr td,
table#providerId tr td,
table#drugtable tr td,
table#providerId tr td table tr td
{
    border-top:black thin solid !important;
    border-bottom:black thin solid !important;
    border-right: black thin solid !important;
}
table#patientId tr td:last-of-type,
table#patientId tr td table tr td:last-of-type,
table#providerId tr td:last-of-type,
table#drugtable tr td:last-of-type,
table#providerId tr td table tr td:last-of-type {
    border-right: white thin transparent !important;
    border-right: none !important;
}

.section#declaration table tr td {
    border:black thin solid;
}


.columnTitle {
    width:10%;
    text-align: right;
    vertical-align: top;
    font-weight:500;
}

#drugData #drugtableSubheading td {
    width: 25%;
}

#allergies .columnTitle {
    width:20%;
}

table#allergies {
    margin-top:5px;
}

#drugtable .columnTitle {
    font-weight: bold;
}


.section table th {
    background-color:#ccc;
}

.section#declaration table{
    background-color:#ccc;
}

.section#controls table {
    display: none;
}

.section#declaration table input {
    float:left;
    clear:both;
    display:block;
}

.section table td, .section table th, #drugtable .columnTitle {
    text-align: left;
    vertical-align: top;
}

.smallText {
    font-size:.7em;
    font-weight: normal;
}

#note table {
    border:none !important;
}

#note table td textarea, #drugtable textarea {
    width:100%;
}

table td, table th {
    padding:3px 5px;
}

.footer {
    border-top:black 2px solid;
    width:100%;
    float:left;
    margin-bottom: 10px;
}

/* --> Sorting elements */
a:link,
a:visited,
a:hover,
a:active {
    color: #000;
    text-decoration: none;
}
a.ASCENDING, a.DESCENDING {
    display: block;
    width: 100%;
    position: relative;
}
a.ASCENDING:before,
a.ASCENDING:after,
a.DESCENDING:before ,
a.DESCENDING:after {
    border: 4px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 5px;
    top: 50%;
    position: absolute;
    width: 0;
}
a.ASCENDING:before,
a.DESCENDING:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
a.ASCENDING:after,
a.DESCENDING:after {
    border-top-color: #666;
    margin-top: 1px;
}


#editFamilyDr{
    display:none;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

thead {
    display: table-header-group;
}
tfoot {
    display: table-footer-group;
}

#note table tr {
    page-break-inside: auto;
    page-break-after: auto;
}

.donotprint {
    display: none;
}