*  {
	font-family: arial,helvetica,sans-serif;
	font-size: small;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	margin:0;
	padding:0;
	top:0;
	left:0;
	background-color: #ffffff;
}

body, html {
	height: 100%;
	scroll-behavior:unset ;
	overflow-x: unset;
	overflow-y: unset;
	overflow-x: -moz-hidden-unscrollable;
	overflow-y: -moz-hidden-unscrollable;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
}

div#containerHeader {
    padding-left: 15px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    border-bottom: 1px solid gray;
    height: 60px;
    background-color:white;
    z-index:100000;
}

div#containerHeader h4 {
    font-size: initial;
}

#mastercontainer {
	margin:15px;
	margin-top:50px;
	 display: flex;
  flex-direction: row;
	 flex-wrap: nowrap;
	overflow: hidden;
}

#mastercontainer #buildercontainer #builderContainerWindow img,
#mastercontainer #pickercontainer #pickercontainerWindow img
{
	max-width: 100%;
	height: auto;
	width: auto\9;
}

#mastercontainer #buildercontainer #builderContainerWindow img,
#mastercontainer #pickercontainer #pickercontainerWindow img,
#mastercontainer #pickercontainer #pickercontainerWindow canvas,
#mastercontainer #buildercontainer #builderContainerWindow canvas {
		vertical-align: middle;
	box-shadow: 0px 1px 3px #333333;
	-webkit-box-shadow: 0px 1px 3px #333333;
	-moz-box-shadow: 0px 1px 3px #333333;
}

#mastercontainer div#pickercontainer {
	margin: 0px;
	padding:0px;
	text-align: right;
	width:33%;
	margin-left:15px;
}

#mastercontainer #pickercontainer #pickercontainerWindow {
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0px;
	    border: #80808054 thin solid;
        padding: 15px 45px 15px 15px;
        background-color: whitesmoke;
}

#mastercontainer div#buildercontainer {
	margin: 0px;
	padding:0px;
 	text-align: left;
	width:66%;
	height:100%;
	display:flex;
	flex-direction: column;
	align-items:  baseline;
}

#mastercontainer #buildercontainer div#builderContainerWindow {
    width: 100%;
    overflow-x: auto;
    border: #80808054 thin solid;
    background-color: whitesmoke;
    padding: 15px 45px 15px 15px;
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100%;
    margin-bottom: 54px;
}

#mastercontainer #pickercontainer ul#picker,
#mastercontainer #buildercontainer #builderContainerWindow ul#builder {
	margin: 0 ;
  padding: 0 ;
  	list-style: none;
}

#mastercontainer #buildercontainer #builderContainerWindow ul#builder {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
align-items: stretch;
}

#mastercontainer #pickercontainer ul#picker li,
#mastercontainer #buildercontainer #builderContainerWindow ul#builder li {
	list-style: none;
	position: relative;
	padding:0px;
}

#mastercontainer #buildercontainer #builderContainerWindow ul#builder li {
	display: inline-block;
    margin-right: 45px;
    position: relative;
    flex-basis: 20%;
    margin-bottom:10px;
}

#mastercontainer #buildercontainer ul#builder li:last-of-type {
	 margin-right: 0px !important;
}

#mastercontainer #pickercontainer ul#picker li {
		margin-bottom:10px;
}
#mastercontainer #pickercontainer ul#picker li:last-of-type {
		margin-bottom:0px !important;
}

#mastercontainer #pickercontainer ul#picker li div,
#mastercontainer #buildercontainer #builderContainerWindow ul#builder li div {
	border:#FFF 3px solid;
}

#mastercontainer #buildercontainer #builderContainerWindow ul#builder li div {
	display: inline-block;
}

#mastercontainer #pickercontainer ul#picker li div span.num,
#mastercontainer #buildercontainer #builderContainerWindow ul#builder li div span.num {
 	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
	opacity: 0.3;
	font-weight: bold;
	cursor: pointer;
	font-size: 150px;
}

#mastercontainer h2 {
	text-align: left;
	color: black;
	opacity: 0.3;
	font-weight: bold;
	cursor: pointer;
	font-size: 16pt;
}

div#containerHeader h2 {
	text-align: left;
	color: black;
	font-weight: bold;
	cursor: pointer;
	font-size: 19pt;
}

#mastercontainer #pickercontainer ul#picker li div:hover,
#mastercontainer #buildercontainer #builderContainerWindow ul#builder li div:hover {
	cursor: pointer;
	border: 3px solid yellow;
}

#mastercontainer #pickercontainer ul#picker li div.selected,
#mastercontainer #buildercontainer #builderContainerWindow ul#builder li div.selected {
	border: 3px solid red;
}

#mastercontainer #pickercontainer ul#picker li div.rotated:hover {
	top: -3px;
}

#mastercontainer #buildercontainer #pickertoolscontainer {
	display: block;
	padding: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right:0;
	z-index: 1000;
	background-color:white;
	border-top: 1px solid gray;
}


#mastercontainer #buildercontainer #pickertoolscontainer ul#pickertools li {
	display: inline-block;
	margin-right: 5px;
	margin-top:5px;
	padding: 8px;
	font-weight: bold;
	font-size: 14px;
	position: relative;
	border-radius: 8px;
	-moz-border-radius: 8px;
	border: 1px solid gray;
	cursor: pointer;
	background-color:white;
}

#mastercontainer #buildercontainer #pickertoolscontainer ul#pickertools li:hover {
	box-shadow:inset 0 0 5px #333333;
   -moz-box-shadow:inset 0 0 5px #333333;
   -webkit-box-shadow:inset 0 0 5px #333333;
}

#mastercontainer #buildercontainer #pickertoolscontainer ul#pickertools li span {
	position: relative;
	top: 1px;
}

#mastercontainer #buildercontainer #pickertoolscontainer ul#pickertools li img {
	margin-right: 8px;
	position: relative;
	top: 3px;
}

.accept-drop {
	background: lightred;
}

.ui-dialog img {
	margin-top: 5px;
	box-shadow: 0px 1px 3px #333333;
	-webkit-box-shadow: 0px 1px 3px #333333;
	-moz-box-shadow: 0px 1px 3px #333333;
}

.jog-control {
	display: none;
	position: absolute;
	right: 15;
	top: 10;
}

.jog-control img {
	background: black;
	margin: 4px;
	padding: 8px;
}

.jog-control {
	display: inline;
}

