
TD {
	font-size: 11pt;
}

TH {
	font-size: 11pt;
}

.blueText {
	font-size: 9pt;
	vertical-align: top;
}

.mbttn {
	background: #D7DBF2;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #AFC4D5;
	border-top: 1px solid #AFC4D5;
	color: #000066;
	height: 19px;
	text-decoration: none;
	cursor: hand
}

.subject {
	background-color: #003399;
	color: #FFFFFF;
	font-size: 14pt;
	font-weight: bold;
	text-align: centre;
}

.searchTitle {
	background-color: #6699CC;
	color: #000000;
	font-weight: bold;
	text-align: left;
	height
	="20px"
}

.title {
	background-color: #6699CC;
	color: #000000;
	font-weight: bold;
	text-align: center;
	height
	="20px"
}

.fieldTitle {
	background-color: #EEEEFF;
	font-weight: bold;
}

.fieldValue {
	background-color: #EEEEFF;
	text-align: left;
}

.error {
	color: #FF0000;
	background-color: #EEEEFF;
	text-align: left;
}

.message {
	color: #000000;
	background-color: #EEEEFF;
	text-align: left;
}

/* TABS */
.tabs th {
	background-image:
		url('http://localhost:8080/casemgmt/images/nw_maj_rond.gif');
	background-repeat: no-repeat;
	border-right: 1px solid #333;
	background-color: #ddd;
	color: #fff;
	border-left: 1px solid #fff;
}

.tabs td {
	background-color: #999;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.tabs {
	border-bottom: 6px #ddd solid;
}

.tabs th,.tabs th a:link,.tabs th a:visited {
	color: #555;
}

.tabs td,.tabs td a:link,.tabs td a:visited {
	color: #fff;
}

.tabs a {
	text-decoration: none;
}

div.tabs th,div.tabs td,s,#rightcol div.help,.colbar,.tasknav,body.docs div#toc,#leftcol,.legend,.bars
	{
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}

.tabs td,.tabs th,dt,.tasknav .selfref,#login .username,.selection {
	font-weight: bold;
}

.tabs {
	margin-top: 0em;
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 8px;
}

.tabs td,.tabs th {
	padding: 3px 9px;
}


/* PHARMA NOTE TEMPLATE */

div#templateContainer {
	font-size: 80% !important;;
	font-family: inherit;
	margin:0px !important;
	float:left !important;
	width:100% !important;;
	border:black thin groove !important;
	overflow-y: scroll;
	margin-top: 5px !important;
	background-color:white !important;
}

div#templateContainer #pharmaNoteTemplate {
	border-radius: 8px;
	margin: 3px 5px 3px 5px;
	background-color:white !important;
}

div#templateContainer #pharmaNoteTemplate form {
	border-radius: 8px;
	margin:0px;
	padding:0px;
}
div#templateContainer #pharmaNoteTemplate textarea {
 	width:100%;
	height:50px;
}

div#templateContainer #pharmaNoteTemplate p {
 width:100%;
	margin:0px;
	margin-top: 10px;
	color:grey;
}

div#templateContainer #pharmaNoteTemplate #pharmaNoteTemplateHeader {
	border-top:grey 3px solid;
}

div#templateContainer #pharmaNoteTemplate #pharmaNoteTemplateHeader {
	height:25px;
	background-color: #CCCCFF;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 5px;
	padding:5px 0 0 10px;
}

div#templateContainer #pharmaNoteTemplate #pharmaNoteTemplateFooter {
	border-bottom:grey 3px solid;
}

div#templateContainer #pharmaNoteTemplate #pharmaNoteTemplateFooter {
	height:25px;
	background-color: #CCCCFF;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-top: 5px;
	padding:5px 0 5px 5px;
}
