
body {
	font-size: 12px !important;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	top: 0px !important;
	left: 0px !important;
	padding: 0px !important;
	margin: 0 10px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	border:none !important;
	background-color:white;
}

input, select, textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#editDemographicWrapper {
	margin:auto 10px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	padding:0px !important;
	
}

textarea {
	font-family: Verdana, Tahoma, Arial, sans-serif !important ;
		font-size: small !important;
}

* table {
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	width:100%;
	font-size: small !important;
}

table td {
	padding:3pt !important;
	border:none;
}

table th, table td b {
	font-weight: bold !important ;
	text-align: left;
}

table.TopStatusBar {
	font-size: initial !important;
}

table.TopStatusBar div#patient-label span {
	display: inline-block
}

table.TopStatusBar div#patient-label span.label {
	margin: 0 5px !important;
	padding: 0px !important;
	font-weight: normal !important;
	font-size: x-small !important;
}

form div.searchBox .RowTop {
	display:none !important;
}

form div.searchBox * {
	padding:0px !important;
	margin:0px !important;
}

form div.searchBox ul li {
	display: inline-block !important;
}

form div.searchBox  {
border:#CCCCFF thin dashed;
	padding:3px !important;
	overflow: hidden !important;
}

.MainTableTopRow {
	font-size: initial !important;
}

.MainTableTopRowRightColumn {
	background-color: #F3F3F3 !important;
}


tr.MainTableTopRow td.MainTableTopRowLeftColumn {
	width: 19.5% !important;
	background-color:black !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
	border-right:white 1px solid !important;
	text-align: left !important;
	vertical-align: top !important;
	height: 50px !important;
}


tr.MainTableTopRow td.MainTableTopRowLeftColumn h1 {
	margin:0px !important;
	padding-left:7px !important;
	padding-top:7px !important;
	display: block !important;
	font-size: larger !important;
	color: white !important;
}


tr.MainTableTopRow table td.MainTableTopRowRightColumn {
	margin-left: 0.5% !important;
}

table td.MainTableLeftColumn *, 
table td.MainTableRightColumn {	
	padding:0px !important;
	margin: 0px !important;
}


table td.MainTableRightColumn {
	width: 79% !important;
	margin-left: 0.5% !important;
}


table td.MainTableLeftColumn {
	padding-left:0px !important;
	padding-right:0px !important;
	width:20% !important;
}

table td.MainTableLeftColumn td a {
	display:inline-block;
	padding:1px 0px !important;
}

table td.MainTableLeftColumn td a#echart,
table td.MainTableLeftColumn td a#echartMenu1 {
	width:48% !important;;
}

table td.MainTableLeftColumn tr.Header td {
	background-color: #CCCCFF !important; 
}

span#search_spinner {
	color: black;
}

span#returnTeleplanMsg {
	color: red;
}

span#returnTeleplanMsg, span#search_spinner {
	display: table !important;
	width:95% !important;
	margin-left: 5px !important;
}


table td.MainTableLeftColumn div#menu1 {
	width:20% !important;
}

#pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: #777;
  color: white;

}


/* popup menu style for encounter reason */
.menu {
    position: absolute;
    visibility: hidden;
    background-color: #6699cc;
    layer-background-color: #6699cc;
    color: white;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    padding: 3px;
    z-index: 10;
    font-size: 9px;
    width: 25em;
}

.menu a {
    text-decoration: none;
    color:white;
}


table table.demographicDetail {
	border:#CCCCFF thin solid !important; 
}

table tr.darkPurple td, 
table table.demographicDetail td.RowTop  {
	background-color: #CCCCFF ;
}


table table.demographicDetail div.demographicSection {
	margin-bottom: 5px !important;
	background-color: white;
	border-radius: 5px;
	padding-bottom:5px !important;
}

 div#viewDemographics2 {
	 float:left !important;
	 width:100% !important;
	 margin-top: 10px !important;
 }

table td.MainTableRightColumn div.demographicSection h3 {
	margin-top:0px !important;
	margin-bottom:5px !important;
	padding-bottom:3px !important;
	color:slategray;
	background-color:#EEEEFF !important;
	font-variant:small-caps;
	border-bottom: #CCCCFF thin solid;
	border-right:#EEEEFF thin solid;
	border-left:#EEEEFF thin solid;

}

table td.MainTableRightColumn table h3 a {
	font-weight: normal !important;
}



table td.MainTableRightColumn table div.leftSection,
table td.MainTableRightColumn table div.rightSection {
	width:49% !important;
	float:left !important;
	margin: 0 0.5% !important;
}


table td div.demographicWrapper ul {
	position:relative !important;
	margin-bottom:5px !important;
}

table td div.demographicWrapper ul li span.label {
	margin-left: 10px !important;
	font-weight: 600;
}

table td div.demographicWrapper ul li span.emergencyLabel {
	margin-right: 10px !important;
	color:red;
	float:right;
}

table td div.demographicWrapper ul li span.microLink {
	float:right;
	margin-right:10px;
}

table td div.demographicWrapper span.textBox {
	display:block !important;
	margin:0px 10px 5px 10px !important;
}

table td.MainTableRightColumn table h3 a:link,
table td.MainTableLeftColumn table td a:link,  
table td.MainTableLeftColumn div#menu1 ul li a:link {
	text-decoration: none !important;
	color:blue !important;
}

table td.MainTableRightColumn table h3 a:hover,
table td.MainTableLeftColumn table td a:hover, 
table td.MainTableLeftColumn div#menu1 ul li a:hover {
	text-decoration: underline !important;
	color:blue !important;
}

table td.MainTableRightColumn table h3 a:target,
table td.MainTableLeftColumn table td a:target, 
table td.MainTableLeftColumn div#menu1 ul li a:target {
	text-decoration: none !important;
	color:blue !important;
}

table.demographicDetail table#editDemographic * {
	margin:0px !important;
	padding:0px !important;

}	

table.demographicDetail table#editDemographic table tr {
	border-left:#CCCCFF thin solid !important;
	border-right:#CCCCFF thin solid !important;
}

table.demographicDetail table#editDemographic table tr td table tr {
	border:none !important;
}

table#listHealthCareTeam tr:nth-child(2) td, table#listHealthCareTeam tr:nth-child(3) td {
	background-color:whitesmoke;
}

table.demographicDetail table#editDemographic table tr td table tr {
	border:none !important;
}

table.demographicDetail table#editDemographic table tr:first-child {
	border:none !important;
}

table.demographicDetail table#editDemographic table tr th {
	font-weight: bold !important;
	font-size: small;
	color: #708090;
	background-color: #EEEEFF !important;	
	border-bottom:#CCCCFF thin solid !important;
	font-variant:small-caps;
}

table.demographicDetail,table#demographicPatientNotes {
	background-color: #EEEEFF !important;		
	border-collapse: collapse !important;
}

table#demographicPatientNotes textarea {
	background-color:white !important;
}

table.demographicDetail table#editDemographic table { 
	border-collapse: collapse !important;
	overflow: hidden !important;
	border-bottom:#CCCCFF thin solid;
	background-color: white  !important;
	width: 98% !important;
	margin:0 1% !important;
	float:left !important;
}

table.demographicDetail table#editDemographic table tr td.firstRow, 
table.demographicDetail table#editDemographic table tr td.lastRow{
	height:10px !important;
}

table#addDemographicTbl td,
table.demographicDetail table#editDemographic table td {
	padding: 1px 0px !important;
	padding-right: 5px !important;
	vertical-align: top !important;
}


table.demographicDetail td.label {
	font-weight: bold;
}

table.demographicDetail table#editDemographic table td.label {
	width:15% !important;
	text-align: right !important;
}

table.demographicDetail table#editDemographic table td#emergencyContactsButtonSet {
	text-align: right !important;
}

table#addDemographicTbl td[align='left'],
table.demographicDetail table#editDemographic table td[align='left'] {
	width:35% !important;
	vertical-align: top !important;
}

table#addDemographicTbl td[align='right'],
table.demographicDetail table#editDemographic table td[align='right'] {
	width:15% !important;
	text-align: right !important;
	padding-left: 5px !important;
}

table.demographicDetail table#editDemographic table#patientData td[align='left'] textarea,
table.demographicDetail table#editDemographic table#patientData td[align='left'] 
input:not([name='phone']):not([name='hPhoneExt']):not([name='wPhoneExt']):not([name='phone2']):not([name$='_birth']):not([name='age']), 
table.demographicDetail table#editDemographic table#patientData td[align='left'] 
select:not([name$='_birth']):not([name='age']),	
#countryOfOrigin, select[name='spoken_lang'],
table.demographicDetail table#editDemographic table#emergencyContactData td[align='left'] * {
	width: 100% !important;
}

div#HealthCareTeam ul li *  {
		font-size: x-small !important;
}

table.demographicDetail table#addEditHealthCareTeam table {
	border:none !important; 
	width:0% !important;
}

table.demographicDetail table#addEditHealthCareTeam {
		border-right:#CCCCFF solid thin !important;
	border-left:#CCCCFF solid thin !important;
}

table.demographicDetail table#addEditHealthCareTeam {
	border-top:none !important;
	vertical-align: bottom !important;
}

table.demographicDetail table#addEditHealthCareTeam td {
	vertical-align: bottom !important;
		background-color:whitesmoke !important;
}

table.demographicDetail table#listHealthCareTeam {
	border-bottom:none !important;
}

ul li.displayHCTHeading {
	text-indent:10px !important;
font-variant-caps: small-caps !important;
	font-weight: bold !important;
	text-decoration: underline !important;
	margin-top: 5px !important;
}

table tr td.displayHCTHeading, tr#healthCareTeamSubHeading {
	font-variant-caps: small-caps !important;
	font-weight: bold !important;
}

div#healthCareTeam span.label {
	text-transform: uppercase !important;
}

.redAlert {
	color:red !important;
}

table#editDemographic {
	margin-top:5px;
}

tr.darkPurple table td[align='right'] {
	text-align: right !important;
}

tr.darkPurple table td[align='center'] {
	text-align: center !important;
}

tr.darkPurple table td {
	width:30% !important;
}


div.alertStyle {
	border-bottom:red thin solid !important;
}

div.alertStyle h3 {
	color:red !important;
	border-bottom:red thin solid !important;
}

/* Styles for Personal Emergency Contact plug-in */

table#listPersonalEmergencyContacts {
	margin-bottom:0px !important;
}

table#listPersonalEmergencyContacts tr#personalEmergencyContactsSubHeading td {
	font-weight: bold !important;
	font-variant-caps:  small-caps !important;
}

table#listPersonalEmergencyContacts td.contactTool{
	text-align: center !important;
	vertical-align: center !important;
}

tr.highlight td, li.highlight {
		text-transform: capitalize;
}

li.highlight {
	border:white thin solid;
}

.highlight:hover {
	background-color:pink !important;
}

table#addEditPersonalEmergencyContact {
	border-left:#CCCCFF thin solid !important;
}

table#addEditPersonalEmergencyContact tr td {
	background-color: whitesmoke !important;
		
}

table#addEditPersonalEmergencyContact tr td #detailEmergencyContactButton {
	display:inline-block;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px !important;
}

table.demographicDetail table#editDemographic table#addEditPersonalEmergencyContact 
tr td input.missingFieldValue {
	border:red thin solid;
}

table.demographicDetail table#editDemographic table#addEditPersonalEmergencyContact 
tr td#errorContainer {
	color:red !important;
	vertical-align: bottom !important;
	padding-bottom: 3px !important;
}

/* Add Demographic Page Styles */

div#addDemographicQuickForm {
	padding:10px 0px !important;
	font-size: small !important;
}

div#addDemographicQuickForm div {
	margin:3px 0px !important;
}

div#addDemographicQuickForm div label {
	display:inline-block !important;
	width: 20% !important;
	text-align: right !important;
	vertical-align: top !important;
	
}

/* workarounds */
* html .ui-autocomplete {
	width: 1px;
} /* without this, the menu expands to 100% in IE6 */
.ui-autocomplete-loading {
	background: white url('../images/ui-anim_basic_16x16.gif') right center
		no-repeat;
}

.ui-autocomplete {
	width:40%;
	max-height: 50%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: whitesmoke;
	border: #ccc thin solid;
}

.ui-menu .ui-menu {
	background-color: whitesmoke;
}

.ui-menu .ui-menu-item {
	border: white thin solid;
}

.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active{
	background-color: yellow;
}

/** PATIENT PRIVACY CONSENT ELEMENTS **/

table#patientConsents tr.even td.alignLeft {
	border-bottom:#ccc thin solid;
}

table#patientConsents tr.even td.lastRow {
	border:none !important;
}

table#patientConsents tr td.alignLeft label {
	display: block;
	width: 175px;
}

#referralSourceTable {
	vertical-align: middle !important;
}
