/*
 *
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License.
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version. *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. *
 *
 * <OSCAR TEAM>
 *
 * This software was written for the
 * Department of Family Medicine
 * McMaster University
 * Hamilton
 * Ontario, Canada
 */ /* styles.css -- Style sheet for the UI prototype.

	Colours used:
		#A9A9A9 = darkgray
		#DCDCDC = gainsboro
		#F5F5F5 = whitesmoke
		#000000 = black
		#FF8C00 = darkorange
*/


.pull-right {
	float:right !important;
	width:10% !important;
}

.pull-right a {
	color: white;
	text-decoration: none;
	font-weight:bold;
}

input {
 box-sizing: border-box; 
 -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
} 

BODY {

	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	padding:0 !important;
	margin:0 !important;
}

div#newEncounterLayoutWrapper {
	margin:auto 15px !important;
	margin-top:3px !important;
	margin-bottom: 3px !important;
}

TABLE {
	border-collapse: collapse;
}


A IMG {
	border: none!important;
	margin:0px !important;
	padding: 0px !important;
}


h3 {
	margin:0px !important;
	padding:0px !important;
}

h3 a, .pull-right a  { 
		font-size: x-small !important;
	display: inline-block !important;
	padding-left: 5px !important;

}


.box {
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 1px;
}


.FakeLink {
	text-align: right;
}

.Head {
	background-color: #BBBBBB;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.Head INPUT {
	width: 100px;
}

.RowTop {

font-weight: bold;
	background-color: #CCCCFF;
}

.ControlPushButton {

	font-family: inherit;
}

form {
	margin: 0px !important;
	padding: 0px !important;
}

#navigation-layout {
	display:flex;
}

#leftColLoader, #rightColLoader, 
#rightColLoader h3, #leftColLoader h3, #leftColLoader h3 a {
	margin:0px !important;
	padding:0px !important;
	background-color:white !important;
	color: black !important;
	font-weight: unset !important;
	z-index: 10000 !important;	
}

div#leftNavBar {
	width: 20% !important;
	height: auto !important;
	order: 1;
	margin-right:2.5px;
}

div#rightNavBar {
	width: 20% !important;
	height: auto !important;
	order: 3;
	margin-left:2.5px;
}

div#rightNavBar, div#leftNavBar {
	display: flex;
	flex-direction: column;
}

div#content {
	margin: 0 !important;
	padding: 0 !important;
	border-top: white 2px solid !important;
	width: 60% !important;
	order: 2;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

div#mainContent div#save {
	margin-top: 5px;
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-bottom: 50px;
}

div#notCPP {
	padding: 0px !important;
	margin: 0px !important;
	/*display: inline-block !important;*/
	/*background-color: #CCCCFF;*/
}

div#cppBoxes {
	padding: 0px !important;
	margin: 0px !important;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#divR2,div#divR1 {
	margin: 0 auto !important;
	padding: 0px !important;
	width: 100% !important;
	display: flex;
	flex-direction: row;
}

div#divR1I1,div#divR1I2,div#divR2I1,div#divR2I2 {
	width:100%;
}

/*div#divR1I1 div,div#divR1I2 div,div#divR2I1 div,div#divR2I2 div,*/
/*div#divR1I1 div ul,div#divR1I2 div ul,div#divR2I1 div ul,div#divR2I2 div ul,*/
/*div#divR1I1 div ul li,div#divR1I2 div ul li,div#divR2I1 div ul li,div#divR2I2 div ul li,*/
/*div#divR1I1 div ul li a,div#divR1I2 div ul li a,div#divR2I1 div ul li a,div#divR2I2 div ul li a {*/
/*	margin: 0px !important;*/
/*	padding: 0px !important;*/
/*	overflow: unset !important;*/
/*}*/

/*div#divR1I1 div ul, div#divR1I2 div ul, div#divR2I1 div ul, div#divR2I2 div ul {*/
/*	display:inline-block !important;*/
/*	width: 100% !important;*/
/*	margin:0px !important;*/
/*	overflow-y: scroll !important;*/
/*}*/


/*div#divR1I1 div ul li,div#divR1I2 div ul li,div#divR2I1 div ul li,div#divR2I2 div ul li {*/
/*	padding:0px 5px !important;*/
/*	vertical-align: top !important;*/
/*}*/


div.topBox {
	border-left:grey thin solid;
	border-right:grey thin solid;
	border-bottom:grey thin solid;
	margin-left:2.5px;
	margin-right:2.5px;
	margin-bottom:5px;
}

div.cppNotesList {
	padding:5px;
	max-height: 250px;
	overflow-y:scroll;
}

div.topBox h3 a {
	color: white;
	text-decoration: none;
}

div.topBox h3 {
	margin:0px !important;
	padding: 0px !important;
	padding-left: 5px !important;
	background-color: #6699cc;

	color: white;
	font-weight: bold;
}

div.topBox ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

/*div#divR1I1,div#divR1I2,div#divR2I1,div#divR2I2 {*/
/*	margin: 0px !important;*/
/*	display: inline-block !important;*/
/*	width: 49.2% !important;*/
/*}*/

div#mainContent {
	margin: 0px !important;
	padding: 0px !important;
}

div#encMainDiv {
	background-color: white !important;
	overflow-y: auto !important;
	display: flex;
	flex-direction: column;
	margin: 5px;
}

div#encMainDivWrapper {
	margin-top: 5px;
	margin-left: 2.5px;
	margin-right: 2.5px;
	border: black thin inset !important;
}

div#header {
	padding:0px !important;
	margin: 0px !important;
	background-color: white !important;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 101;
	border-bottom: white 2px solid;
}
table#encounterHeader {
	width:100% !important;
	margin-bottom: 2px !important;
}

table#encounterHeader tr td {
padding: 1px 5px;
}

table#encounterHeader tr td a {
		text-decoration: none !important;
}

table#encounterHeader td#encounterHeaderLeftColumn {
	width: 19.5% !important;
	background-color:black;
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
	border-right:white 1px solid;
	text-align: left;
	vertical-align: top;
	height: 50px !important;
}

table#encounterHeader td#encounterHeaderLeftColumn h1 {
	margin:0px !important;
	padding-left:7px !important;
	padding-top:7px !important;
	display: block !important;
	font-size: larger !important;
	color: white !important;

}

table#encounterHeader td#encounterHeaderRightColumn {
	color:white !important;
		vertical-align: top !important;
	text-align: right !important;
	padding-top: 3px !important;
	padding-right: 3px !important;
	width: 10.5%;
}

table#encounterHeader td#encounterHeaderCenterColumn {
	width:70%;
}

table#encounterHeader tr td#encounterHeaderCenterColumn #patient-label span {
	display: inline-block
}

table#encounterHeader span.label {
	margin: 0 5px !important;
	padding: 0px !important;
	font-weight: normal !important;
	font-size: x-small !important;
}

table#encounterHeader span.HelpAboutLogout a {
	font-size: x-small !important;
	color: white !important;
	float: right !important;
	padding: 0 3px !important;
}

table#encounterHeader span.HelpAboutLogout a[href*='About.jsp'] {
	border-right: white thin groove !important;
}


div#encounterTools {
	display: flex;
	flex-wrap: wrap;
}

div#encounterTools fieldset {
	flex:1;
	border: grey thin groove;
}


div#topContent {
	font-size: 8pt;
	padding: 0px !important;
	margin: 0px !important;
}

div#encMainDiv div.note {
	margin: 0px !important;
	padding: 0px !important;
	margin: 3px 5px 3px 5px !important;
	font-size: 80% !important;
	color: #3366CC !important;
}

div#encMainDiv div.note div div [id*="txt"] {
	margin: 0px !important;
	padding: 3px 0px 3px 5px !important;
}

.doctorInfo {
	font-size: x-small;
	font-weight: bold;
	background-color: #A39FC4;
}

.encounterTable {
	background-color: #EBEAF2;
}

.patientInfo {
	font-size: small;
	font-weight: bold;
	background-color: #CBC9E0;
}

.ControlTextarea {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 100%;
}

.ControlSelect {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 80%;
	width: 100%;
}

.LeftTable {
	width: 100%;
}

.BodyStyle {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.MainTable {
	border-collapse: collapse;
	border-color: #111111;
	border-width: 0;
	padding-bottom: 0;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	font-size: 80%;
}

.MainTableTopRowLeftColumn {
	background-color: #003399;
	border-right: 2px solid #A9A9A9;
	border-left: 2px solid #A9A9A9;
	border-top: 2px solid #A9A9A9;
	height: 34px;
	max-width: 130px;
	font-size: 110%;
	font-weight: bold;
	color: #FFFFFF;
}

.MainTableBottomRowLeftColumn {
	border-right: 2px solid #A9A9A9;
	border-left: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	height: 4px;
	max-width: 130px;
}

.MainTableLeftColumn {
	border-right: 2px solid #A9A9A9;
	border-left: 2px solid #A9A9A9;
	max-width: 130px;
}

.MainTableTopRowRightColumn {
	border-right: 2px solid #A9A9A9;
	border-top: 2px solid #A9A9A9;
	background-color: #003399;
	height: 34px;
	min-width: 400px;
}

.MainTableBottomRowRightColumn {
	border-bottom: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
	height: 4px;
}

.MainTableRightColumn {
	border-right: 2px solid #A9A9A9;
	height: 34px;
	margin-left: 4px;
}

.TopStatusBar {
	font-weight: bold;
	background-color: #6699cc;
	color: black;
	height: 23px;
	width: 100%;
}

/* For the Pharmacists Drug Therapy Problems */

.dtpStatus {
	margin-left:10px;
}

/* FOR DEMOGRAPHIC EDIT DEMOGRAPHIC PAGE */
.demographicDetail {
	background-color: #CCCCFF;
}

div.info,span.info {
	font-weight: bold;
}

div.statusName,div.statusInfo,div.statusAppointment {
	float: left;
	padding-right: 20px;
}

div.statusAppointment {
	font-style: italic;
}

div.demographicSection {
	width: 100%;
	margin-top: 2px;
	border-top: 1px solid #ccccff;
	border-bottom: 1px solid #ccccff;
	border-left: 1px solid #ccccff;
	border-right: 1px solid #ccccff;
	float: left;
}

div.demographicSection h3 {
	background-color: #ccccff;
	font-size: 8pt;
	font-weight: bold;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.demographicSection ul {
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
	padding-left: 1px;
	margin-left: 1px;
	margin-top: 0px;
	padding-top: 1px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

div.leftSection,div.rightSection {
	float: left;
	width: 48%;
	margin-left: 1%;
}


div.demographicSection li {
	padding-right: 15px;
	white-space: nowrap;
}

#viewDemographics2,div.demographicWrapper,.lightPurple {
	background-color: #eeeeff;
	width: 100%;
}

div.demographicDetail {
	width: 100%;
	background-color: #eeeeff;
}

div.label {
	clear: both;
	float: left;
}

#viewMobileMenu,.mobileScrollBtns,.mobileTitle,.mobileTopBar {
	display: none;
}

.darkPurple {
	background-color: #CCCCFF;
}

div.demographicWrapper {
	background-color: #eeeeff;
	margin-top: 5px;
	margin-left: 1px;
	margin-right: 1px;
}

/* popup menu style for encounter reason */
.menu {
	position: absolute;
	visibility: hidden;
	background-color: #6699cc;
	layer-background-color: #6699cc;
	color: white;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	padding: 3px;
	z-index: 10;
	font-size: 9px;
	width: 25em;
}

.menu a {
	text-decoration: none;
	color: white;
}

div.label {
	display: block;
}

/*****************/

.TopStatusBarShort {
	font-weight: bold;
	background-color: #6699cc;
	color: black;
	height: 23px;
	width: 500px;
}

.Title {
	font-weight: bold;
	font-size: 110%;
	color: white;
	background-color: #6699cc;
}

.fieldBox {
	font-family: tahoma, helvetica;
	background-color: #ddddff;
}

.data {
	background-color: #F7F7F7;
	font-size: 80%;
}

.data2 {
	background-color: #F7F7F7;
	color: #3366CC;
	font-size: 9px;
}

.data3 {
	color: #15120B;
	font-size: 11px;
}

.data4 {
	background-color: #F7F7F7;
	color: #3366CC;
	font-size: 12px;
}

.data5 {
	background-color: #FDFEC7;
	color: #3366CC;
	font-size: 9px;
}

div.leftBox {
	width: 100%;
	margin-top: 2px;
	background-color: #FFFFFF;
}

span.footnote {
	background-color: #ccccee;
	border: 1px solid #000;
	width: 4px;
}

div.leftBox h3 a {
	color: white;
	text-decoration: none;
}

div.leftBox h3 {
	margin:0px !important;
	background-color: #6699cc;
	font-size: 9px;
	color: white;
	font-weight: bold;
	padding-left: 5px;
}

div.leftBox ul { 
	padding:0px !important;
	margin: 0px !important;
	font-size: 9px;
	list-style: none;
	list-style-type: none;
	list-style-position: outside;
}

div.leftBox li { 
	white-space: nowrap;
	padding: 1px 5px !important;
}

/* popup menu styles for forms */
.menu {
	position: absolute;
	visibility: hidden;
	background-color: #6699cc;
	layer-background-color: #6699cc;
	color: white;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	padding: 3px;
	z-index: 101;
	font-size: 9px;
}

.menuItemright {
	float: right;
	color: white;
	text-decoration: none;
}

.menuItemleft {
	float: left;
	color: white;
	text-decoration: none;
}

.addItem {
	width: 10%;
	float: right;
	text-align: center;
}

.headerTitle {
	clear: left;
	float: left;
	width: 90%;
}
/* formatting for navbar */
.links {
	color: blue;
	text-decoration: none;
	font-size: 9px;
}

.linkhover {
	color: black;
	text-decoration: underline;
}

.editBtn {
	float: right;
	margin-right: 5px;
	font-size: 8px;
}

.caseNote_date {
	float: left;
	font-size: 1.0em;
	width: 25%;
	font-weight: bold;
}

.caseNote_content {
	float: left;
	font-size: 1.0em;
	width: 60%;
}

.sig {
	background-color: #CCCCFF;
	color: #000000;
	width: 100%;
	font-size: 9px;
}

.observation,.observationEdit,.showEditDate {
	float: right;
	margin-right: 3px;
	font-style: italic;
}

.encType {
	clear: right;
	margin-right: 3px;
	float: right;
}

.topLinks {
	color: black;
	text-decoration: none;
	font-size: 9px;
}

.topLinkhover {
	color: blue;
	text-decoration: underline;
	font-size: 9px;
}

div.newNote {
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 0.8em;
	margin: 5px 0px 5px 5px;
	float: left;
}

div.newNote pre {
	color: #000000;
	font-family: arial, sans-serif;
	margin: 0px 3px 0px 3px;
	width: 100%;
	clear: left;
}

div#autosaveTime {
	text-align: center;
	margin: 0px;
}

div.expandedBox,div.cppBox {
	clear: both;
	overflow: auto;
}

div.expandedBox {
	height: 100%;
}

/* in place editor */
.showEdPosition {
	display: table-cell;
	vertical-align: middle;
}

.showEdFooter {
	text-align: left;
	padding: 0 2px;
}

ul#issueIdList {
	padding: 0;
}

.showEdContent {
	/*border: thin ridge black;*/
	background-color: #CCCCFF;
	font-size: 9px;
	position: absolute;
	display: none;
	z-index: 200;
	right: 100px;
	bottom: 200px;
	text-align: center;
}

#showEditButtons,#showEditLogout {
	float: right;
	margin-right: 10px;
}

#noteEditTxt {
	margin: 10px;
}

div#issueNoteAssign {
	text-align: center;
}

/* template styles*/
#issueListCPP {
	background-color: #FFFFFF;
	height: 200px;
	width: 350px;
	position: absolute;
	z-index: 1;
	overflow: auto;
}

.enTemplate_name_auto_complete {
	width: 350px;
	background: #fff;
	font-size: 9px;
	text-align: left;
}

.enTemplate_name_auto_complete ul {
	border: 1px solid #888;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: square;
	list-style-position: inside;
}

.enTemplate_name_auto_complete ul li {
	margin: 0;
	padding: 3px;
}

.enTemplate_name_auto_complete ul li.selected {
	background-color: #ffb;
	text-decoration: underline;
}

.enTemplate_name_auto_complete ul strong.highlight {
	color: #800;
	margin: 0;
	padding: 0;
}

p.passwd,p.passwdErr {
	margin: 0px 3px;
}

p.passwdErr {
	color: red;
}

#notesLoading {
	position: relative !important;
	background-color: #AAAADD;
	border: 1px solid black;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 2px 2px 4px;
	font-size: 12px;
	padding: 4px;
	text-align: center;
	width: 130px;
	z-index: 4000;
}

#notesLoading img {
	margin-right: 5px;
}

/* IMPORTED FROM INLINE */
li.cpp {
	color: #000000;
	font-family: arial, sans-serif;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*Note format */
div.newNote {
	color: #000000;
	font-family: arial, sans-serif;
	font-size: 0.8em;
	margin: 5px 0px 5px 5px;
	float: left;
	width: 98%;
}

div.newNote pre {
	color: #000000;
	font-family: arial, sans-serif;
	margin: 0px 3px 0px 3px;
	width: 100%;
	clear: left;
}

div.note {
	color: #000000;
	font-family: arial, sans-serif;
	margin: 3px 0px 3px 5px;
	float: left;
	width: 98%;
}

div.note pre {
	color: #000000;
	font-family: arial, sans-serif;
	margin: 0px 3px 0px 3px;
	width: 100%;
	clear: left;
}


.sig {
	background-color: #EEEEEE !important;
	color: #111111 !important;
	width: 100% !important;
	font-size: x-small !important;
	border-top:#CCCCCC thin solid !important;
}

.txtArea {
	font-family: arial, sans-serif;
	font-size: 1.0em;
	width: 99%;
	rows: 10;
	overflow: hidden;
	border: none;
	font-family: arial, sans-serif;
	margin: 0px 3px 0px 3px;
}

p.passwd {
	margin: 0px 3px 0px 3px;
}

/* span formatting for measurements div found in ajax call */
span.measureCol1 {
	float: left;
	width: 50px;
}

span.measureCol2 {
	float: left;
	width: 55px;
}

span.measureCol3 {
	float: left;
}



/* formatting for navbar */
.links {
	color: blue;
	text-decoration: none;
	font-size: 9px;
}

.linkhover {
	color: black;
	text-decoration: underline;
}

/* template styles*/
.enTemplate_name_auto_complete {
	width: 350px;
	background: #fff;
	font-size: 9px;
	text-align: left;
}

.enTemplate_name_auto_complete ul {
	border: 1px solid #888;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: square;
	list-style-position: inside;
}

.enTemplate_name_auto_complete ul li {
	margin: 0;
	padding: 3px;
}

.enTemplate_name_auto_complete ul li.selected {
	background-color: #ffb;
	text-decoration: underline;
}

.enTemplate_name_auto_complete ul strong.highlight {
	color: #800;
	margin: 0;
	padding: 0;
}

/* Encounter type select box */ 

div.autocomplete {
	position: absolute;
	width: 400px;
	background-color: white;
	border: 1px solid #ccc;
	margin: 0px;
	padding: 0px;
	font-size: 9px;
	text-align: left;
	max-height: 200px;
	overflow: auto;
}

div.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

div.autocomplete ul li.selected {
	background-color: #EAF2FB;
}

div.autocomplete ul li {
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	cursor: pointer;
}

.encTypeCombo {
	margin: 0px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	width: 200px;
	text-align: left;
	vertical-align: middle;
	background: #FFFFFF
		url('../images/downarrow_inv.gif') no-repeat
		right;
	height: 18px;
	cursor: pointer;
	border: 1px solid #ccc;
	color: #000000;
}

.printOps {
	background-color: #CCCCFF;
	font-size: 9px;
	position: absolute;
	display: none;
	z-index: 1;
	width: 200px;
	right: 100px;
	bottom: 200px;
}

.showEdContainer {
	position: absolute;
	display: none;
	z-index: 100;
	right: 100px;
	bottom: 200px;
	background-color: transparent;
	font-size: 8px;
	text-align: center;
}

.showEdPosition {
	display: table-cell;
	vertical-align: middle;
}

.showEdContent {
	background-color: #CCCCFF;
	font-size: 9px;
	position: absolute;
	display: none;
	z-index: 200;
	right: 100px;
	bottom: 200px;
	text-align: center;
}

/* Imported from casemgmt.css */

.blueText {
	font-size: 9pt;
	vertical-align: top;
}

.mbttn {
	background: #D7DBF2;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #AFC4D5;
	border-top: 1px solid #AFC4D5;
	color: #000066;
	height: 19px;
	text-decoration: none;
	cursor: hand
}

.subject {
	background-color: #003399;
	color: #FFFFFF;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
}

.searchTitle {
	background-color: #6699CC;
	color: #000000;
	font-weight: bold;
	text-align: left;
	height: 20px
}

.title {
	background-color: #6699CC;
	color: #000000;
	font-weight: bold;
	text-align: center;
	height: 20px;
}

.fieldTitle {
	background-color: #EEEEFF;
	font-weight: bold;
}

.fieldValue {
	background-color: #EEEEFF;
	text-align: left;
}

.error {
	color: #FF0000;
	background-color: #EEEEFF;
	text-align: left;
}

.message {
	color: #000000;
	background-color: #EEEEFF;
	text-align: left;
}

/* TABS */
.tabs th {
	background-image:
		url('http://localhost:8080/casemgmt/images/nw_maj_rond.gif');
	background-repeat: no-repeat;
	border-right: 1px solid #333;
	background-color: #ddd;
	color: #fff;
	border-left: 1px solid #fff;
}

.tabs td {
	background-color: #999;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.tabs {
	border-bottom: 6px #ddd solid;
}

.tabs th,.tabs th a:link,.tabs th a:visited {
	color: #555;
}

.tabs td,.tabs td a:link,.tabs td a:visited {
	color: #fff;
}

.tabs a {
	text-decoration: none;
}

div.tabs th,div.tabs td,s,#rightcol div.help,.colbar,.tasknav,body.docs div#toc,#leftcol,.legend,.bars
	{
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}

.tabs td,.tabs th,dt,.tasknav .selfref,#login .username,.selection {
	font-weight: bold;
}

.tabs {
	margin-top: 0em;
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 8px;
}

.tabs td,.tabs th {
	padding: 3px 9px;
}

.popover-content {
	padding: 9px 14px;
}

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	background-clip: padding-box;
}

.popover.bottom {
	margin-top: 10px;
}

.popover.bottom .arrow {
	top: -11px;
	left: 50%;
	margin-left: -11px;
	border-bottom-color: #999;
	border-bottom-color: rgba(0,0,0,0.25);
	border-top-width: 0;
}
.popover .arrow, .popover .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
