<!-- /*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */
-->

@media print {
	noprint{
	    display:none;
	}
	justforprint{
	    float:left;
	}	
	
}

@media screen {

    .ControlPushButton{
        font-size:10.5px;
    }

    #verificationLink{
    	color:white;
    }

	table.legend{
        font-size:12px;
        padding-left:20px;

    }


	table.legend_items td{
		font-size:12px;
		text-align:left;
		height:30px;
		padding-right:10px;
	}
            .highlight {
                background-color : #99FFCC;
                border: 1px solid #008000;
            }
            .rxStr a:hover{
                color:blue;
                text-decoration:underline;
            }
            .rxStr a{
                color:black;
                text-decoration:none;
            }
            .match{
                font-weight:bold;
            }
            .matchInactive{
                background-color: #C0C0C0;
            }
#myAutoComplete {
    width:25em; /* set width here or else widget will expand to fit its container */
    padding-bottom:2em;
}

body {
	margin:0;
	padding:0;
}

     .currentDrug{
        font-weight:bold;
     }
     .archivedDrug{
        text-decoration: line-through;
     }
     .expireInReference{
         color:orange;
         font-weight:bold;
     }
     .expiredDrug{
         color:gray;
     }

     .longTermMed{
        font-style:italic;
     }

     .discontinued{
         text-decoration: line-through;

     }

     .deleted{
         text-decoration: line-through;

     }


     .sortheader{
         text-decoration: none;
         color:black;

     }	
	
}