/*
 *
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License.
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version. *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. *
 *
 * <OSCAR TEAM>
 *
 * This software was written for the
 * Department of Family Medicine
 * McMaster University
 * Hamilton
 * Ontario, Canada
 */ /* styles.css -- Style sheet for the UI prototype.

	Colours used:
		#A9A9A9 = darkgray
		#DCDCDC = gainsboro
		#F5F5F5 = whitesmoke
		#000000 = black
		#FF8C00 = darkorange
*/


/* IMPORT STYLES FOR DATATABLE */
@import url("../library/DataTables-1.10.12/media/css/jquery.dataTables.min.css");

/* PHARMA NOTE TEMPLATE */

span#statusMessage {
	color:green;
	font-weight: bold;
}

div#templateContainer {
	font-size: small !important;
	font-family: inherit;
	margin:auto 3px !important;
	padding:5px !important;
	border:grey thin inset !important;
	overflow-y: scroll;
	background-color:white !important;
}

div#templateContainer #pharmaNoteTemplate {
	border-radius: 8px;
	margin: 3px 5px 3px 5px;
	background-color:white !important;
}

div#templateContainer #pharmaNoteTemplate form {
	border-radius: 8px;
	margin:0px;
	padding:0px;
}
div#templateContainer #pharmaNoteTemplate textarea {
 	width:100%;
	height:50px;
}

div#templateContainer #pharmaNoteTemplate p {
 	width:100%;
	margin:0px;
	margin-top: 10px;
	color:grey;
}

div#templateContainer #pharmaNoteTemplate #pharmaNoteTemplateHeader {
	border-top:grey 3px solid;
}

div#templateContainer #pharmaNoteTemplate #pharmaNoteTemplateHeader {
	height:25px;
	background-color: #EEE;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 5px;
	padding:5px 0 0 10px;
}

div#templateContainer #pharmaNoteTemplate #pharmaNoteTemplateFooter {
	border-bottom:grey 3px solid;
}

div#templateContainer #pharmaNoteTemplate #pharmaNoteTemplateFooter {
	height:25px;
	background-color: #EEE;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-top: 5px;
	padding:5px 0 5px 5px;
}


div#encounterModal div#dtpPanel table {
	border-collapse: collapse;
	border:none;
	margin:0px;
	padding:0px;
}

table#dtpDashboardTable td.sorting {
	font-weight: bold;
}

table#dtpDashboardTable td.sorting_asc, table#dtpDashboardTable td.sorting_desc {
	font-weight: bold;
	color:blue;
}


div#encounterModal,.ui-dialog-buttonset, div#encounterModal table {
	font-size: 13px !important;
	font-family: inherit;
}

div#dtpHistoryHeading {
	border-bottom: solid thin lightgray;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 5px;

}

div#dtpHistoryHeading div{
	padding-left:20px;
}

div#encounterModal div#dtpPanel table tr td {
	text-align: left;
	vertical-align: top;
}

div#encounterModal div#dtpPanel table tr td:not(.tooltip-column) {
  width:100px;
	border-left:solid thin lightgrey;
	padding-left:5px;
}

div#encounterModal div#dtpPanel table th {
  	text-align: right;
	vertical-align: top;
	width:50px;
	color: #555;
	padding-right:5px;
}

div#encounterModal div#dtpPanel table tr td ul {
	padding: 0 0 0 8px;
	margin: 0px;
}

div#encounterModal div#dtpHistoryHeading strong {
	color: #555;
}


div#encounterModal div#dtpPanel select,div#encounterModal div#dtpPanel textarea, div#encounterModal input#dateEntered  {
	width:205px;
}
div#encounterModal div#dtpPanel .mandatory {
	color:red;
	font-weight: bold;
	margin-left:2px;
}

div#encounterModal div#dtpPanel #event {
	margin-top:2px;
}

div#encounterModal div#dtpPanel table.dtp-table tr:nth-child(even) td{
	background-color: whitesmoke;
}

.ui-dialog, .ui-dialog .ui-dialog-content {
	overflow: visible !important;
}

.tooltip {
    position: relative;
    display: inline-block;
	 margin-left: 5px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 200;
	top: -80px;
    left: 180%;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext ul {
	   margin: 0;
    padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

.tooltip .tooltiptext ul li {
	margin-top:5px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}