/*
 * 
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License. 
 * This program is free software; you can redistribute it and/or 
 * modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation; either version 2 
 * of the License, or (at your option) any later version. * 
 * This program is distributed in the hope that it will be useful, 
 * but WITHOUT ANY WARRANTY; without even the implied warranty of 
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License 
 * along with this program; if not, write to the Free Software 
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USa. * 
 * 
 * <OSCAR TEAM>
 * 
 * This software was written for the 
 * Department of Family Medicine 
 * McMaster University 
 * Hamilton 
 * Ontario, Canada 
 */

 table#firstTable {
    width:100%;
    position: fixed;
    top: 0px;
    left:0px;
    right:0px;
    background-color:white;
    z-index:10000000;
    border-bottom: 1px solid #c0c0c0;
    height:40px;
 }

 table#scheduleTable {
 	margin-top:38px;
 }

 table#firstTable td#oscarLogo a {
    display:block;
    padding:5px 10px;
 }

 table#firstTable td#oscarLogo {
    width:40px;
 }

  table#firstTable td#oscarLogo a img {
    width:22px;
  }

table#firstTable td#firstMenu ul#navlist, table#firstTable td#userSettings ul#userSettingsMenu{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none;
}

table#firstTable td#userSettings {
	text-align: right;
}

table#firstTable td#userSettings #logoutButton {
    font-size:18px;
	padding:5px 10px;
}

table#firstTable td#userSettings ul#userSettingsMenu li {
  display:inline-block;
}

tr#ivoryBar td {
    background-color: whitesmoke;
}

table tr#ivoryBar td {
    position:sticky;
    top:40px;
    left-margin:unset;
    height:30px;
    z-index:100000;
}

tr td.infirmaryView {
    position: sticky;
    top:70px;
    left-margin:unset;
    height:25px;
    z-index:1000;
}

td#dateAndCalendar {
    padding-left: 10px;
}
td#group {
    padding-right: 10px;
}
 
.providerSchedule {
/* 	display:flex;
	justify-content: flex-start;
	flex-direction: row; */
	background-color: #486ebd;
}


* table {
	border-collapse: collapse;
}


td.appt {
	vertical-align: top;
	border-top: #486ebd 2px solid;
	overflow: hidden;
	padding: 3px;
	border-bottom: #486ebd 2px solid;
	border-left: #486ebd 2px solid;
	border-right: #486ebd 2px solid;
}

td.appt .appt-container {
	width:100%;
	display: flex;
	overflow: hidden;
	flex-direction: row;
  	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-start;
}

/* div.apt-tag {
	min-width:18px;
} */

div.apt-tag a {
	padding:1px 3px;
	display:inline-block;
	margin:0px;
}


div.navigation-tag a:hover,  div.patient-tag a:hover {
	background-color: blue;
	color:white;
}

div.apt-tag:empty {
   display: none;
}

div.apt-tag a img {
	width: 100% !important;
	max-width: 18px;
	margin: 0px !important;
}

div.appt-container div.navigation-tag {
  white-space:nowrap;
}

.hourmin {
	padding:3px;
	border-top: #486ebd 2px solid;
	border-bottom: #486ebd 2px solid;
} 

.scheduleTimeNot00, .scheduleTime00 {
	border-top: #486ebd 2px solid;
	border-right: #486ebd 2px solid;
    width: 5%;
	min-width:5%;
}

.scheduleTimeNot00 a, .scheduleTime00 a {
    width: 5%;
    min-width:5%;
}

a.orange {
	text-decoration: none;
	font-weight: bold;
	color: #9966CC;
}

a.orange:Hover {
	text-decoration: none;
	color: white;
}

a.black {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a.black:Hover {
	text-decoration: none;
	color: white;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

a:Hover {
	text-decoration: none;
}

input,select,textarea {
	background-color: #F4EaD7;
	border: 1px solid #0097cf;
}

td {
	font-family: "Arial";
	font-size: 12px;
}

hr {
	color: orange;
}

p {
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 0px;
}

.adhour {
	font-family: "Arial";
	font-size: 12px;
	color: white;
	display: block;
	padding: 3px;
}

.small {
	margin-top: 15px;
	margin-left: 100px;
	margin-right: 140px;
	font-family: "Arial Black";
	font-size: 9px;
	color: #00408f;
}

.Monthappt {
	font-family: "Arial Black";
	font-size: 8px;
	color: black;
}

.title {
	font-family: "Times New Roman";
	font-size: 14px;
	color: black;
}

.text3 {
	font-size: 12px;
	font-family: "Arial";
}

.date {
	font-family: "Times New Roman";
	font-size: 16px;
	color: red;
	background: yellow;
}

.datepname {
	font-family: "Times New Roman";
	font-size: 12px;
}

.dateAppointment {
        font-weight:bold;
        font-family: "Times New Roman";
        font-size: 14px;
}

.datephour {
	font-family: "Times New Roman";
	font-size: 12px;
	color: brown;
}

.datepreason {
	font-family: "Times New Roman";
	font-size: 12px;
	color: green;
}

.tabalert {
	color: red;
}

table#firstTable td#firstMenu #navlist li {
    line-height:1;
    display: inline-block;
}

table#firstTable td#firstMenu #navlist li:hover { color: #fff; background-color: #486ebd; }
table#firstTable td#firstMenu #navlist li a:hover { color: #fff; background-color: #486ebd; }
table#firstTable td#firstMenu #navlist #logoutMobile { display:none; }

table#firstTable td#firstMenu #navlist li a:not(.tabalert) {
    display:inline-block;
    padding:10px 5px 10px 5px;
}

div.reason-tag a {
	font-weight: normal !important;
    font-style: italic;
}

.scheduleTime00 { background-color: #3EA4E1; }
.scheduleTimeNot00 { background-color: #00A488; }

.dropdown {
	display: inline-block !important;
	position: relative;
}

.dashboardDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dashboardDropdown a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
	  padding:2px 5px;
}

.dropdown:hover .dashboardDropdown {
    display: block;
}

@media print {
 .noprint {display:none !important;}
}