/*
 *
 * Copyright (c) 2001-2002. Department of Family Medicine, McMaster University. All Rights Reserved. *
 * This software is published under the GPL GNU General Public License.
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version. *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details. * * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA. *
 *
 * <OSCAR TEAM>
 *
 * This software was written for the
 * Department of Family Medicine
 * McMaster University
 * Hamilton
 * Ontario, Canada
 */

body {
	font-size: 12px !important;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	top: 0px !important;
	left: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	margin: 0 10px !important;
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	border:none !important;
	background-color:white;
}

/* these things are everywhere */
* br {
	display:none !important;
}

* form { 
	margin:0px !important;
	padding: 0px !important;
}

ul {
    list-style:none;
}

a:active {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #0066CC
}

a:visited {
	text-decoration: none;
	color: #0080c0;
}

a:hover {
	color:#000;
	TEXT-DECORATION: underline;
}


td.demoIdSearch a {
	display:inline-block !important;
	width: 100% !important;
}
form div.searchBox * {
	padding:0px !important;
	margin:0px !important;
}

form div.searchBox ul li {
	display: inline-block !important;
		font-size: small !important;
}

form div.searchBox  {
border:#CCCCFF thin solid !important;
	padding:3px !important;
	overflow: hidden !important;
}

form div.searchBox .title {
	font-size: normal !important;
}


.deep { /*background-color: #B7B18D; */}
.weak { background-color: #EEEEFF; }

.title {
    text-align:left;
    font-weight: bold;
    height:12px
}

#cancelButton, #backButton, #searchPopUpButton {
    display:none;
}

#searchResults table {
	background-color: white;
	width:100%;
	border-collapse:collapse;
}

#searchResults table td {
	border: thin dotted #BDBDBD;
}


.odd{background-color:#fff;}
.even{background-color:#EEEEFF;}

.odd:hover {background-color:#FACC2E;}
.even:hover {background-color:#FACC2E;}


#searchResults table, div#searchResults {
		font-size:small !important;
}

#searchResults table tr.tableHeadings td {
    font-weight:bold;
	font-variant-caps: petite-caps !important;
}

#searchResults table tr td {
		padding:0px 3px !important;
	vertical-align:  top !important;
	text-align: left !important;
}

.demoId {
    border-left: 1px solid #c0c0c0;
}

.createNew{
    font-size:small;font-weight:bold;text-align:right;
}

.dateFormat{font-size:smaller;font-weight:normal;}
