<style media='screen'>

body table#topLink {
	display: none ;
}

body#mainSearchPage table#topLink {
	display: table !important;
	margin:0px !important;
	padding:0px !important;
	width: 100% !important;
	margin-bottom: 5px !important;
	border-collapse: collapse !important;
}

body#mainSearchPage div.searchBox div.header {
	display: none !important;
}

body#mainSearchPage div.searchBox {
	margin:0px !important;
	padding:0px !important;
	padding: 5px !important;
}

body#mainSearchPage table#topLink tr td {
padding: 1px 5px;
	background-color: #F3F3F3 !important;
}

body#mainSearchPage table#topLink a {
	text-decoration: none !important;
}

body#mainSearchPage table#topLink td#topLinkLeftColumn {
	width: 19.5% !important;
	background-color:black !important;
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-bottom: 0px !important;
	border-right:white 1px solid !important;
	text-align: left !important;
	vertical-align: top !important;
}

body#mainSearchPage table#topLink td#topLinkLeftColumn h1 {
	margin:0px !important;
	padding-left:7px !important;
	padding-top:7px !important;
	padding-bottom: 7px !important;
	display: block !important;
	font-size: larger !important;
	color: white !important;
}

body#mainSearchPage table#topLink td#topLinkRightColumn{
		vertical-align: top !important;
	text-align: right !important;
	padding-top: 3px !important;
	padding-right: 3px !important;
	width: 80.5%;
}

body#mainSearchPage table#topLink span.HelpAboutLogout a {
	font-size: x-small !important;
	color: black !important;
	float: right !important;
	padding: 0 3px !important;

}

body#mainSearchPage table#topLink span.HelpAboutLogout a[href*='About.jsp'] {
	border-right: white thin groove !important;
}
</style>